<div>
  <ng-content></ng-content>
</div>

<!-- card comp is a ui comp we make a style for the this div and need to apply this style for all components
 so we we use a card comp as a wrapper for all comp like this
 <app-card>
   <button [class.active]="selected" (click)="onSelectUser()">
    <img [src]="imagePath" [alt]="user.name" />
    <span>{{ user.name}}</span>
  </button>
 </app-card>

and we use ng-content to replace this ng content with this code
  <button [class.active]="selected" (click)="onSelectUser()">
    <img [src]="imagePath" [alt]="user.name" />
    <span>{{ user.name}}</span>
  </button>
   -->

